.App {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.wrapper {
  margin: 0 10%;
}


.title--border {
  padding: 10px;
  color: rgba(0, 0, 0, 0.88);
  line-height: 1.5714285714285714;
  border: 1px solid rgb(217, 217, 217);
  border-radius: 8px;
}